@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; font-family:"微软雅黑";}
.wrap{ float:left; width:87%; height:auto; background:url(../images/news_bg.jpg) 0 0; }
.news_center{ float:left;width:60%; height:650px/* 700px */;margin-left:20%;background:rgba(0,0,0,0.6); margin-top:5%; margin-bottom:5%;}
.news_center #title{ color:#FFF; text-align:center; font-size:18px; margin-top:20px;}
#container{ width:60%; height:500px;; margin-left:20%; color:#FFF;}
#container #time{width:100%; height:40px; color:#FFF;position:relative; top:22px;}
#container #time a{ display:block;width:40px; height:40px; background-color:#FFF; border-radius:50%; float:left; line-height:40px; text-align:center; margin-left:8%; color:#000; font-size:12px;}
#container #time span{display:block;width:40px; height:40px;float:left;line-height:34px; text-align:center; font-size:40px;}
#container #line{width:100%; float:left;}
#container #line a{width:80%; display:block; height:1px; border-bottom:#FFF 2px solid; margin-left:10%; }
#container #list{width:100%; height:300px; margin-top:30px;}
#container #list li{ list-style:none; font-size:12px; margin-top:20px;}
#container #list li a{cursor:hand; outline:none;}
#container #list li a:hover{ color:#C00; cursor:hand;}
#container #list li span{margin-right:0px; float:right;}
