@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; font-family:"微软雅黑";}
.wrap{width:87%;height:100%;float:left;position:relative;overflow:hidden;background:#666; background:url(../images/login.jpg) top left no-repeat;background-size:100% 100%; }
/*.wrap{ width:100%; height:auto; background:url(../images/bgimag.jpg) fixed center; float:left;}*/
.content{width:62.5%; height:auto;background:rgba(0,0,0,0.6); margin:10% auto; overflow:hidden;}
.content #title{ color:#FFF; margin-left:37.5%; font-size:18px; margin-top:3%; }
.number{margin-left:37.5%;width:30%;height:46px;background:#FFF;color:#000; line-height:2em;margin-top:4%;}
.cipher{margin-left:37.5%;width:30%;height:46px;background:#FFF;color:#000;}
a{outline: none;}
.input{width:70%; height:auto; border:none; line-height:3em;}
.button{width:30%; height:auto; background:#cc0000; letter-spacing:1em;font-size:16px; line-height:2em;border:none;color:#fff; margin-left:37.5%; outline:none; margin-bottom:10%;margin-top:4%;}
