.content{width:87%;height:auto;float:left;position:relative;overflow:hidden;}
.wrap{background:url(../images/background_buy.jpg) no-repeat center top;background-size:100% 100%;position:relative;margin:0 auto;}
article{width:71.85%;height:54.16%;background:black;background:transparent;background-color: rgba(0,0,0,0.6); color:#ffffff;margin:10% auto 0; padding:0 12.45% 0;box-sizing: border-box;}
.contain{width:42%/*24%*/;padding-right:10%;height:100%;margin:0 auto;}
.fload1{width:100%;height:auto;text-align:center;font-size:1.75em;line-height:1;padding-top:15%;}
.fload2{padding-top:28%;width:100%;height:auto;font-size:0.75em/* 14px */}
.fload2 div:nth-child(1){}
.fload2 img{width:35%;height:auto;display:block;float:left;}
.text_pay_success{width:64%;float:left}
.text_pay_success>p{float:left;display:block;line-height: 2em;margin-left:2em;margin-top:0.7em;}
.fload2 strong{display:inline-block;width:100%;text-align: center;padding-top:10%;text-decoration: underline;}
.fload3{width:100%;text-align:center;margin-top:20%;}
.fload3 input{padding:0.5% 10% 1% 15%;background:red;color:#fff;border:1px solid red;letter-spacing: 1em;}
.fload3 input:hover{cursor:pointer;}