@charset "utf-8";

.content_right{width:708px;float:left;padding-bottom:30px;border:none;}
.content_right_main ul{margin-top:5px;}
.content_right_main li{width:630px;line-height:36px;margin-top:5px;border-bottom:1px dashed #ccc;text-align:right;}
.content_right_main li a{padding-left:15px;background:url(../images/list_type_img.jpg) 2px 17px no-repeat;float:left;color:#000;}
.content_right_main li a:hover{color:#007245;}
.content_right_fengye{width:670px;text-align:center;margin-top:65px;}
.content_right_fengye a{color:#000;}
.content_right_fengye a:hover{color:#007245;}
		
		
		
		
		
		

	
	
	

