@charset "utf-8";


	
/*内容样式*/
.side_menu dl{width:174px;height:160px;margin:5px auto 0px auto;}
.side_menu dl dt{width:174px;height:119px;}
.side_menu dl dd{width:174px;height:41px;line-height:41px;text-align:center;}
.side_menu dl dt img:hover{border:1px solid #F90;}
.side_menu dl dd a{display:inline;line-height:40px;padding-left:0px;background:none;margin:0px;color:#000;}
.side_menu dl dd a:hover{color:#007245;background:none;}
.side_menu_more{width:174px;margin:5px auto 0px auto;text-align:right;}
.side_menu_more a{display:inline;line-height:10px;padding-left:0px;background:none;margin:0px;}
.side_menu_more a:hover{background:none;}

.content_right{width:708px;float:left;border:none;padding-bottom:30px;}
	.content_team{width:666px;margin:35px auto 0px auto;}
	.content_team dl{width:194px;height:335px;margin-right:27px;float:left;overflow:hidden;}
	.content_team dl dt{width:194px;height:194px;}
	.content_team dl dt img{border:1px solid #ccc;}
	.content_team dl dt a{display:block;width:191px;height:191px;}
	.content_team dl dt a:hover{border:1px solid #F90;}
	.content_team dl dd{width:170px;height:130px;margin:0px auto;text-align:center;line-height:24px;padding-top:10px;}
	.content_team dl dd a{color:#000;font-weight:bold;}
	.content_team dl dd a:hover{color:#007245}
	
.contact{width:280px;float:left;margin-top:30px;font-size:14px;border:none;}
		.contact_title span{font-size:14px;color:#000;}
		.contact ul{width:280px;margin-top:20px;}
		.contact ul li{line-height:40px;}
		#span{color:#f90;font-size:18px;}
.contact_map{width:386px;height:325px;float:left;margin-top:20px;}



		.content_right_job{width:658px;border:1px solid #ccc;padding:20px 0px;margin-top:10px;}
		.content_right_job ul{width:630px;height:25px;margin:5px auto 0px auto;border-bottom:1px dashed #ccc;}
		.content_right_job ul li{width:155px;line-height:25px;float:left;}
		.content_right_job ul li a{color:#000;}
		.content_right_job ul li a:hover{color:#007245;}
		.content_right_job ul li.first{width:210px;}
		.content_right_job ul li.last{width:110px;}
		.content_right_job_detail{width:580px;line-height:40px;margin:20px auto;}
		.content_right_job_detail span{color:#F93;}
		
	
		
		



	
	
	

